In [2]:
pip install tensorflow

Collecting tensorflowNote: you may need to restart the kernel to use updated packages.

  Downloading tensorflow-2.7.0-cp38-cp38-win_amd64.whl (430.8 MB)
Requirement already satisfied: wheel<1.0,>=0.32.0 in c:\users\baseb\anaconda3\envs\convenient\lib\site-packages (from tensorflow) (0.36.2)
Collecting google-pasta>=0.1.1
  Downloading google_pasta-0.2.0-py3-none-any.whl (57 kB)
Collecting termcolor>=1.1.0
  Downloading termcolor-1.1.0.tar.gz (3.9 kB)
Collecting wrapt>=1.11.0
  Downloading wrapt-1.13.3-cp38-cp38-win_amd64.whl (34 kB)
Collecting gast<0.5.0,>=0.2.1
  Downloading gast-0.4.0-py3-none-any.whl (9.8 kB)
Collecting tensorflow-estimator<2.8,~=2.7.0rc0
  Downloading tensorflow_estimator-2.7.0-py2.py3-none-any.whl (463 kB)
Collecting opt-einsum>=2.3.2
  Downloading opt_einsum-3.3.0-py3-none-any.whl (65 kB)
Collecting libclang>=9.0.1
  Downloading libclang-12.0.0-2-py2.py3-none-win_amd64.whl (13.0 MB)
Collecting protobuf>=3.9.2
  Downloading protobuf-3.19.3-cp38-cp38-win_amd64.whl (895 kB)
Requirement already satisfied: numpy>=1.14.5 in c:\users\baseb\anaconda3\envs\convenient\lib\site-packages (from tensorflow) (1.20.2)
Collecting tensorflow-io-gcs-filesystem>=0.21.0
  Downloading tensorflow_io_gcs_filesystem-0.23.1-cp38-cp38-win_amd64.whl (1.5 MB)
Collecting astunparse>=1.6.0
  Downloading astunparse-1.6.3-py2.py3-none-any.whl (12 kB)
Collecting flatbuffers<3.0,>=1.12
  Downloading flatbuffers-2.0-py2.py3-none-any.whl (26 kB)
Collecting absl-py>=0.4.0
  Downloading absl_py-1.0.0-py3-none-any.whl (126 kB)
Collecting keras<2.8,>=2.7.0rc0
  Downloading keras-2.7.0-py2.py3-none-any.whl (1.3 MB)
Requirement already satisfied: six>=1.12.0 in c:\users\baseb\anaconda3\envs\convenient\lib\site-packages (from tensorflow) (1.16.0)
Collecting keras-preprocessing>=1.1.1
  Downloading Keras_Preprocessing-1.1.2-py2.py3-none-any.whl (42 kB)
Collecting tensorboard~=2.6
  Downloading tensorboard-2.7.0-py3-none-any.whl (5.8 MB)
Collecting h5py>=2.9.0
  Downloading h5py-3.6.0-cp38-cp38-win_amd64.whl (2.8 MB)
Collecting grpcio<2.0,>=1.24.3
  Downloading grpcio-1.43.0-cp38-cp38-win_amd64.whl (3.4 MB)
Collecting typing-extensions>=3.6.6
  Downloading typing_extensions-4.0.1-py3-none-any.whl (22 kB)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\baseb\anaconda3\envs\convenient\lib\site-packages (from tensorboard~=2.6->tensorflow) (2.25.1)
Collecting google-auth<3,>=1.6.3
  Downloading google_auth-2.3.3-py2.py3-none-any.whl (155 kB)
Collecting google-auth-oauthlib<0.5,>=0.4.1
  Downloading google_auth_oauthlib-0.4.6-py2.py3-none-any.whl (18 kB)
Collecting tensorboard-plugin-wit>=1.6.0
  Downloading tensorboard_plugin_wit-1.8.1-py3-none-any.whl (781 kB)
Collecting werkzeug>=0.11.15
  Downloading Werkzeug-2.0.2-py3-none-any.whl (288 kB)
Requirement already satisfied: setuptools>=41.0.0 in c:\users\baseb\anaconda3\envs\convenient\lib\site-packages (from tensorboard~=2.6->tensorflow) (52.0.0.post20210125)
Collecting tensorboard-data-server<0.7.0,>=0.6.0
  Downloading tensorboard_data_server-0.6.1-py3-none-any.whl (2.4 kB)
Collecting markdown>=2.6.8
  Downloading Markdown-3.3.6-py3-none-any.whl (97 kB)
Collecting rsa<5,>=3.1.4
  Downloading rsa-4.8-py3-none-any.whl (39 kB)
Collecting pyasn1-modules>=0.2.1
  Downloading pyasn1_modules-0.2.8-py2.py3-none-any.whl (155 kB)
Collecting cachetools<5.0,>=2.0.0
  Downloading cachetools-4.2.4-py3-none-any.whl (10 kB)
Collecting requests-oauthlib>=0.7.0
  Downloading requests_oauthlib-1.3.0-py2.py3-none-any.whl (23 kB)
Collecting importlib-metadata>=4.4
  Downloading importlib_metadata-4.10.0-py3-none-any.whl (17 kB)
Requirement already satisfied: zipp>=0.5 in c:\users\baseb\anaconda3\envs\convenient\lib\site-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard~=2.6->tensorflow) (3.5.0)
Collecting pyasn1<0.5.0,>=0.4.6
  Downloading pyasn1-0.4.8-py2.py3-none-any.whl (77 kB)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\baseb\anaconda3\envs\convenient\lib\site-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\baseb\anaconda3\envs\convenient\lib\site-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (2021.5.30)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\baseb\anaconda3\envs\convenient\lib\site-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (1.26.6)
Requirement already satisfied: idna<3,>=2.5 in c:\users\baseb\anaconda3\envs\convenient\lib\site-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (2.10)
Collecting oauthlib>=3.0.0
  Downloading oauthlib-3.1.1-py2.py3-none-any.whl (146 kB)
Building wheels for collected packages: termcolor
  Building wheel for termcolor (setup.py): started
  Building wheel for termcolor (setup.py): finished with status 'done'
  Created wheel for termcolor: filename=termcolor-1.1.0-py3-none-any.whl size=4829 sha256=e62b238a8774ac5800398b16576f9a28f2ed93cb6093bdcd036f11fe2a01ff6a
  Stored in directory: c:\users\baseb\appdata\local\pip\cache\wheels\a0\16\9c\5473df82468f958445479c59e784896fa24f4a5fc024b0f501
Successfully built termcolor
Installing collected packages: pyasn1, rsa, pyasn1-modules, oauthlib, cachetools, requests-oauthlib, importlib-metadata, google-auth, werkzeug, tensorboard-plugin-wit, tensorboard-data-server, protobuf, markdown, grpcio, google-auth-oauthlib, absl-py, wrapt, typing-extensions, termcolor, tensorflow-io-gcs-filesystem, tensorflow-estimator, tensorboard, opt-einsum, libclang, keras-preprocessing, keras, h5py, google-pasta, gast, flatbuffers, astunparse, tensorflow
  Attempting uninstall: importlib-metadata
    Found existing installation: importlib-metadata 3.10.0
    Uninstalling importlib-metadata-3.10.0:
      Successfully uninstalled importlib-metadata-3.10.0
Successfully installed absl-py-1.0.0 astunparse-1.6.3 cachetools-4.2.4 flatbuffers-2.0 gast-0.4.0 google-auth-2.3.3 google-auth-oauthlib-0.4.6 google-pasta-0.2.0 grpcio-1.43.0 h5py-3.6.0 importlib-metadata-4.10.0 keras-2.7.0 keras-preprocessing-1.1.2 libclang-12.0.0 markdown-3.3.6 oauthlib-3.1.1 opt-einsum-3.3.0 protobuf-3.19.3 pyasn1-0.4.8 pyasn1-modules-0.2.8 requests-oauthlib-1.3.0 rsa-4.8 tensorboard-2.7.0 tensorboard-data-server-0.6.1 tensorboard-plugin-wit-1.8.1 tensorflow-2.7.0 tensorflow-estimator-2.7.0 tensorflow-io-gcs-filesystem-0.23.1 termcolor-1.1.0 typing-extensions-4.0.1 werkzeug-2.0.2 wrapt-1.13.3

In [1]:
import tensorflow as tf
import pandas as pd

dataset_url = "https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data"

# ファイルのダウンロード
dataset_path = tf.keras.utils.get_file('breast-cancer-wisconsin.data', dataset_url)

# print(dataset_path)

raw_data = pd.read_csv(dataset_path,
 names=range(10)
 ).reset_index(drop=True)

raw_data[5] = raw_data[5].apply(lambda x: 0 if x == '?' else int(x))
raw_data[9] = raw_data[9].apply(lambda x: 0 if x == 4 else 1)


X = raw_data.drop(9, axis=1)
y = raw_data[9]

raw_data.dtypes
# raw_data

0    int64
1    int64
2    int64
3    int64
4    int64
5    int64
6    int64
7    int64
8    int64
9    int64
dtype: object

In [38]:
raw_data

     0   1   2   3   4   5   6   7   8   9   10
0     5   1   1   1   2   1   3   1   0   1   0
1     5   4   4   5   7  10   3   2   0   1   0
2     3   1   1   1   2   2   3   1   0   1   0
3     6   8   8   1   3   4   3   7   0   1   0
4     4   1   1   3   2   1   3   1   0   1   0
..   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
694   3   1   1   1   3   2   1   1   0   1   0
695   2   1   1   1   2   1   1   1   0   1   0
696   5  10  10   3   7   3   8  10   0   0   0
697   4   8   6   4   3   4  10   6   0   0   0
698   4   8   8   5   4   5  10   4   0   0   0

[699 rows x 11 columns]

In [48]:
import numpy as np
raw_data[10] = np.random.randint(0, 10, len(raw_data))
raw_data

     0   1   2   3   4   5   6   7   8   9   10
0     5   1   1   1   2   1   3   1   0   1   4
1     5   4   4   5   7  10   3   2   0   1   4
2     3   1   1   1   2   2   3   1   0   1   8
3     6   8   8   1   3   4   3   7   0   1   9
4     4   1   1   3   2   1   3   1   0   1   0
..   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
694   3   1   1   1   3   2   1   1   0   1   5
695   2   1   1   1   2   1   1   1   0   1   8
696   5  10  10   3   7   3   8  10   0   0   5
697   4   8   6   4   3   4  10   6   0   0   7
698   4   8   8   5   4   5  10   4   0   0   0

[699 rows x 11 columns]

In [30]:
raw_data[raw_data[5] == '?']

     0  1  2  3  4  5  6   7  8  9
23   8  4  5  1  2  ?  7   3  1  4
40   6  6  6  9  6  ?  7   8  1  2
139  1  1  1  1  1  ?  2   1  1  2
145  1  1  3  1  2  ?  2   1  1  2
158  1  1  2  1  3  ?  1   1  1  2
164  5  1  1  1  2  ?  3   1  1  2
235  3  1  4  1  2  ?  3   1  1  2
249  3  1  1  1  2  ?  3   1  1  2
275  3  1  3  1  2  ?  2   1  1  2
292  8  8  8  1  2  ?  6  10  1  4
294  1  1  1  1  2  ?  2   1  1  2
297  5  4  3  1  2  ?  2   3  1  2
315  4  6  5  6  7  ?  4   9  1  2
321  3  1  1  1  2  ?  3   1  1  2
411  1  1  1  1  1  ?  2   1  1  2
617  1  1  1  1  1  ?  1   1  1  2

In [19]:
raw_data.groupby(8).count()

       0    1    2    3    4    5    6    7
8
CYT  463  463  463  463  463  463  463  463
ERL    5    5    5    5    5    5    5    5
EXC   35   35   35   35   35   35   35   35
ME1   44   44   44   44   44   44   44   44
ME2   51   51   51   51   51   51   51   51
ME3  163  163  163  163  163  163  163  163
MIT  244  244  244  244  244  244  244  244
NUC  429  429  429  429  429  429  429  429
POX   20   20   20   20   20   20   20   20
VAC   30   30   30   30   30   30   30   30

In [3]:
raw_data = pd.read_csv('../data/yeast.csv', names=range(9)).reset_index(drop=True)

raw_data[8] = raw_data[8].apply(lambda x: 0 if x == 'ME2' else 1)

X = raw_data.drop(8, axis=1)
y = raw_data[8]

raw_data

         0     1     2     3    4    5     6     7  8
0     0.58  0.61  0.47  0.13  0.5  0.0  0.48  0.22  1
1     0.43  0.67  0.48  0.27  0.5  0.0  0.53  0.22  1
2     0.64  0.62  0.49  0.15  0.5  0.0  0.53  0.22  1
3     0.58  0.44  0.57  0.13  0.5  0.0  0.54  0.22  1
4     0.42  0.44  0.48  0.54  0.5  0.0  0.48  0.22  1
...    ...   ...   ...   ...  ...  ...   ...   ... ..
1479  0.81  0.62  0.43  0.17  0.5  0.0  0.53  0.22  0
1480  0.47  0.43  0.61  0.40  0.5  0.0  0.48  0.47  1
1481  0.67  0.57  0.36  0.19  0.5  0.0  0.56  0.22  0
1482  0.43  0.40  0.60  0.16  0.5  0.0  0.53  0.39  1
1483  0.65  0.54  0.54  0.13  0.5  0.0  0.53  0.22  1

[1484 rows x 9 columns]

In [8]:
raw_data.groupby(8).agg(['mean', 'count'])

          0               1               2               3               4  \
       mean count      mean count      mean count      mean count      mean
8
0  0.721569    51  0.603137    51  0.414902    51  0.282549    51  0.509804
1  0.492240  1433  0.496260  1433  0.503064  1433  0.260426  1433  0.504536

                5               6               7
  count      mean count      mean count      mean count
8
0    51  0.000000    51  0.510196    51  0.245490    51
1  1433  0.007767  1433  0.499518  1433  0.277292  1433

In [10]:
raw_data[0]

0       0.58
1       0.43
2       0.64
3       0.58
4       0.42
        ...
1479    0.81
1480    0.47
1481    0.67
1482    0.43
1483    0.65
Name: 0, Length: 1484, dtype: float64

In [14]:
from sklearn.preprocessing import scale
a = scale(raw_data[0])

In [20]:
a.std()

1.0

In [18]:
raw_data[0].mean()

0.500121293800539

In [25]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
b = scaler.fit_transform(raw_data[[0,1]])

In [29]:
b.std(axis=0)

array([1., 1.])

In [3]:
select_data = 'wine'

dataset_url = "https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data"

# ファイルのダウンロード
dataset_path = tf.keras.utils.get_file('wine.data', dataset_url)

# print(dataset_path)

raw_data = pd.read_csv(dataset_path, names=range(13))
raw_data['y'] = raw_data.index
raw_data = raw_data.reset_index(drop=True)

raw_data['y'] = raw_data['y'].apply(lambda x: 0 if x == 3 else 1)

X = raw_data.drop('y', axis=1)
y = raw_data['y']

In [4]:
raw_data

,0,1,2,3,4,5,6,7,8,9,10,11,12,y
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,1
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,1
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,1
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,1
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740,0
174,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750,0
175,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835,0
176,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840,0
177,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560,0