# 分析結果を集計するノートブック
- 一旦AUCだけで比較してみる
- output/ファイルから各手法の各データの結果をまとめる
- それらの平均をまとめる
- 分散分析とかグラフとかにして表示する

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [3]:
method = ['MTS', 'WMTS', 'MTSBagImpAgg', 'WMTSBagImpAgg']
data = [
    'yeast', 
    'wine', 
    'abalone', 
    'car',
    'cancer', 
    'letter'
    ]
e_index = ['AUC', 'accuracy', 'recall', 'Specificity', 'precision', 'gmeans', 'RS']
multi_columns = [
    np.array(
        [method[0]] * 2 + 
        [method[1]] * 2 + 
        [method[2]] * 2 + 
        [method[3]] * 2
        ),
    np.array(["mean", "std"] * len(method))
]

In [4]:
for e in e_index:
    index_result_df = pd.DataFrame(
                index=data,
                columns=multi_columns,
                )
    for m in method:
        for d in data:     
            df = pd.read_csv(f'../data/output/0420_{m}_{d}_result.csv', index_col=0)
            index_result_df.loc[d, m] = [df[e].mean(), df[e].std()]
    index_result_df.loc['whole_mean'] = index_result_df.mean(axis=0)
    print(e)
    display(index_result_df)
    index_result_df.to_csv(f'../data/output/{e}_score.csv')

AUC

                 MTS                WMTS           MTSBagImpAgg            \
                mean       std      mean       std         mean       std
wine        0.991181  0.012695  0.985264  0.015186     0.998229  0.002955
whole_mean  0.991181  0.012695  0.985264  0.015186     0.998229  0.002955

           WMTSBagImpAgg
                    mean       std
wine            0.995299  0.006369
whole_mean      0.995299  0.006369

accuracy

                 MTS                WMTS           MTSBagImpAgg            \
                mean       std      mean       std         mean       std
wine        0.963889  0.039393  0.936111  0.045455     0.961111  0.035136
whole_mean  0.963889  0.039393  0.936111  0.045455     0.961111  0.035136

           WMTSBagImpAgg
                    mean       std
wine            0.972222  0.026189
whole_mean      0.972222  0.026189

recall

             MTS                WMTS           MTSBagImpAgg            \
            mean       std      mean       std         mean       std
wine        0.97  0.067495  0.963492  0.059415     0.973485  0.060527
whole_mean  0.97  0.067495  0.963492  0.059415     0.973485  0.060527

           WMTSBagImpAgg
                    mean       std
wine            0.991667  0.026352
whole_mean      0.991667  0.026352

Specificity

                 MTS                WMTS           MTSBagImpAgg           \
                mean       std      mean       std         mean      std
wine        0.964495  0.042344  0.929958  0.059372     0.958363  0.04097
whole_mean  0.964495  0.042344  0.929958  0.059372     0.958363  0.04097

           WMTSBagImpAgg
                    mean       std
wine            0.963547  0.034874
whole_mean      0.963547  0.034874

precision

                 MTS                WMTS           MTSBagImpAgg            \
                mean       std      mean       std         mean       std
wine        0.894949  0.125206  0.831786  0.119541     0.899615  0.101445
whole_mean  0.894949  0.125206  0.831786  0.119541     0.899615  0.101445

           WMTSBagImpAgg
                    mean       std
wine            0.928815  0.070549
whole_mean      0.928815  0.070549

gmeans

                 MTS                WMTS           MTSBagImpAgg           \
                mean       std      mean       std         mean      std
wine        0.966484  0.041606  0.945691  0.042007     0.965236  0.03714
whole_mean  0.966484  0.041606  0.945691  0.042007     0.965236  0.03714

           WMTSBagImpAgg
                    mean       std
wine            0.977292  0.022657
whole_mean      0.977292  0.022657

RS

                 MTS                WMTS           MTSBagImpAgg            \
                mean       std      mean       std         mean       std
wine        1.007518  0.084679  1.040139  0.095139     1.017551  0.078787
whole_mean  1.007518  0.084679  1.040139  0.095139     1.017551  0.078787

           WMTSBagImpAgg
                    mean       std
wine            1.030367  0.045824
whole_mean      1.030367  0.045824