# 分析結果を集計するノートブック
- 一旦AUCだけで比較してみる
- output/ファイルから各手法の各データの結果をまとめる
- それらの平均をまとめる
- 分散分析とかグラフとかにして表示する

In [31]:
from glob import glob

import pandas as pd
import numpy as np

In [39]:
ex_name = '0513'

In [51]:
file_list = glob(f'../data/output/{ex_name}*')

In [52]:
e_index = ['AUC', 'accuracy', 'recall', 'Specificity', 'precision', 'gmeans', 'RS']

method = list(set([file.split('\\')[1].split('_')[1] for file in file_list]))
method = list(set(method)- set(e_index))
method

['WMTS', 'MTS', 'MTGS', 'WMTGS']

In [54]:
data = list(set([file.split('\\')[1].split('_')[2] for file in file_list]))
data = ['letter', 'wine', 'cancer', 'abalone', 'car']

In [55]:
e_index = ['AUC', 'accuracy', 'recall', 'Specificity', 'precision', 'gmeans', 'RS']
multi_columns = [
    np.array(
        [method[0]] * 2 + 
        [method[1]] * 2 + 
        [method[2]] * 2 + 
        [method[3]] * 2 
        # +
        # [method[4]] * 2 +
        # [method[5]] * 2 
        ),
    np.array(["mean", "std"] * len(method))
]

In [56]:
for e in e_index:
    index_result_df = pd.DataFrame(
                index=data,
                columns=multi_columns,
                )
    for m in method:
        for d in data:     
            df = pd.read_csv(f'../data/output/{ex_name}_{m}_{d}_result.csv', index_col=0)
            index_result_df.loc[d, m] = [df[e].mean(), df[e].std()]
    index_result_df.loc['whole_mean'] = index_result_df.mean(axis=0)
    print(e)
    display(index_result_df)
    index_result_df.to_csv(f'../data/output/{ex_name}_{e}_score.csv')

AUC

                WMTS                 MTS                MTGS            \
                mean       std      mean       std      mean       std
letter      0.912328  0.042703  0.919995   0.03919  0.920389  0.045772
wine         0.99347  0.008279   0.98892  0.016794  0.989166  0.014509
cancer      0.948736  0.023107  0.940467  0.069673  0.930944  0.048059
abalone     0.984682  0.005131  0.986078   0.00442  0.985184  0.008038
car         0.957633  0.009422  0.972243  0.008227   0.96873  0.012879
whole_mean   0.95937  0.017728  0.961541  0.027661  0.958882  0.025851

               WMTGS
                mean       std
letter      0.930833  0.025771
wine        0.987536  0.013116
cancer      0.958304  0.026898
abalone     0.986108  0.005505
car         0.968278  0.016602
whole_mean  0.966212  0.017579

accuracy

                WMTS                 MTS                MTGS            \
                mean       std      mean       std      mean       std
letter        0.9512  0.027569   0.96675  0.009629   0.96585  0.014364
wine        0.947222  0.033256  0.933333  0.052705  0.941667  0.024322
cancer      0.893571  0.035706  0.857143  0.191929  0.887143  0.043226
abalone     0.973684  0.002762  0.973565  0.004994  0.981579  0.004857
car         0.926879  0.018584  0.950867  0.009037  0.945665  0.015877
whole_mean  0.938511  0.023575  0.936332  0.053659  0.944381  0.020529

               WMTGS
                mean       std
letter         0.969  0.009853
wine        0.947222  0.044309
cancer      0.903571  0.034544
abalone     0.982177  0.006189
car         0.948266  0.028723
whole_mean  0.950047  0.024724

recall

                WMTS                 MTS                MTGS            \
                mean       std      mean       std      mean       std
letter      0.611916  0.053003  0.583845   0.05938  0.556703  0.134616
wine        0.920471  0.071639   0.85153  0.176782   0.90658  0.098798
cancer      0.920834  0.072082  0.918934  0.040861   0.84201  0.082238
abalone     0.780587  0.118024  0.818791  0.112375  0.666544  0.172347
car         0.878382  0.168191  0.965865  0.072398  0.847573   0.12318
whole_mean  0.822438  0.096588  0.827793  0.092359  0.763882  0.122236

               WMTGS
                mean       std
letter      0.582749  0.042986
wine        0.908171  0.133369
cancer      0.837703  0.101994
abalone     0.765542  0.093629
car         0.922368  0.162999
whole_mean  0.803307  0.106995

Specificity

                WMTS                 MTS                MTGS            \
                mean       std      mean       std      mean       std
letter      0.965197  0.028399  0.982934   0.00887  0.982226  0.013463
wine         0.96503  0.037365  0.963113  0.047232  0.954966  0.040353
cancer      0.881867  0.072181  0.828397  0.270287  0.912036  0.046108
abalone     0.976767  0.003687  0.976377   0.00472  0.987204  0.006468
car         0.929861  0.025499  0.950454  0.010178  0.949166   0.01498
whole_mean  0.943745  0.033426  0.940255  0.068258   0.95712  0.024275

               WMTGS
                mean       std
letter       0.98432  0.010569
wine        0.956594  0.053134
cancer      0.941829  0.033129
abalone     0.985651  0.006165
car         0.949986  0.031113
whole_mean  0.963676  0.026822

precision

                WMTS                 MTS                MTGS            \
                mean       std      mean       std      mean       std
letter      0.507683  0.227569  0.612244  0.133714  0.601572  0.184355
wine        0.918807   0.08799  0.899899  0.127668  0.879747  0.096977
cancer      0.807633  0.104089  0.801484  0.183278  0.833559  0.082101
abalone     0.362106  0.076479  0.387588  0.087011  0.511635  0.102737
car         0.338927   0.09923  0.436797  0.087756  0.395025  0.076284
whole_mean  0.587031  0.119071  0.627603  0.123885  0.644308  0.108491

               WMTGS
                mean       std
letter      0.638081  0.161142
wine        0.904009  0.095299
cancer      0.890287  0.061374
abalone     0.480321  0.108884
car         0.494337  0.131261
whole_mean  0.681407  0.111592

gmeans

                WMTS                 MTS                MTGS            \
                mean       std      mean       std      mean       std
letter      0.767841  0.037545  0.756683  0.039876  0.734338  0.091944
wine        0.941578  0.039297  0.899988  0.094028   0.92843  0.045126
cancer      0.898808   0.02621  0.851149  0.218942  0.875138  0.049913
abalone      0.87074  0.067267   0.89209   0.06372   0.80482  0.103125
car          0.89855  0.082055  0.957408  0.035526  0.894789  0.065603
whole_mean  0.875503  0.050475  0.871463  0.090418  0.847503  0.071142

               WMTGS
                mean       std
letter      0.756833  0.026802
wine         0.92893  0.073962
cancer      0.886185  0.050954
abalone     0.867081   0.05389
car         0.931398  0.092685
whole_mean  0.874085  0.059659

RS

                WMTS                 MTS                MTGS            \
                mean       std      mean       std      mean       std
letter      0.634255  0.055874  0.593904   0.05924  0.566815  0.136427
wine        0.955551  0.089578  0.888676  0.201801  0.953072  0.129799
cancer      1.055297  0.158854  2.251421  3.907056  0.925231  0.099887
abalone     0.799363  0.122355  0.838588  0.114766  0.675937  0.177583
car         0.949064  0.200433  1.016586   0.08017  0.893131  0.130187
whole_mean  0.878706  0.125419  1.117835  0.872607  0.802837  0.134777

               WMTGS
                mean       std
letter      0.592267  0.046531
wine        0.953235  0.154274
cancer      0.891889  0.123408
abalone      0.77683  0.095684
car         0.973102  0.180274
whole_mean  0.837465  0.120034