# 分析結果を集計するノートブック
- 一旦AUCだけで比較してみる
- output/ファイルから各手法の各データの結果をまとめる
- それらの平均をまとめる
- 分散分析とかグラフとかにして表示する

In [1]:
import pandas as pd
import numpy as np

In [3]:
ex_name = '0228'

In [4]:
method = ['MTS', 'MTSBag', 'SMOTEMTSBag',
#  'LGBM', 'RUSB', 'SVM'
 ]
data = ['abalone', 'cancer', 'car', 'letter', 'wine', 'yeast']
e_index = ['AUC', 'accuracy', 'recall', 'Specificity', 'precision', 'gmeans', 'RS']
multi_columns = [
    np.array(
        [method[0]] * 2 + 
        [method[1]] * 2 + 
        [method[2]] * 2 
        # + 
        # [method[3]] * 2 +
        # [method[4]] * 2 +
        # [method[5]] * 2 
        ),
    np.array(["mean", "std"] * len(method))
]

In [5]:
for e in e_index:
    index_result_df = pd.DataFrame(
                index=data,
                columns=multi_columns,
                )
    for m in method:
        for d in data:     
            df = pd.read_csv(f'../data/output/{ex_name}_{m}_{d}_result.csv', index_col=0)
            index_result_df.loc[d, m] = [df[e].mean(), df[e].std()]
    index_result_df.loc['whole_mean'] = index_result_df.mean(axis=0)
    print(e)
    display(index_result_df)
    index_result_df.to_csv(f'../data/output/{ex_name}_{e}_score.csv')

AUC

                 MTS              MTSBag           SMOTEMTSBag
                mean       std      mean       std        mean       std
abalone     0.987418  0.002826  0.988154  0.003744     0.97731  0.004235
cancer      0.925035  0.082394  0.982587  0.007158    0.976362  0.004813
car         0.973355  0.008001  0.979119  0.014629    0.975513  0.005217
letter      0.910614  0.053149  0.973994  0.006128     0.97664  0.003105
wine        0.996451  0.008409  0.996418  0.006181    0.970138  0.007444
yeast       0.742785  0.098933   0.75808  0.058206    0.976232  0.004606
whole_mean   0.92261  0.042285  0.946392  0.016007    0.975366  0.004903

accuracy

                 MTS              MTSBag           SMOTEMTSBag
                mean       std      mean       std        mean       std
abalone     0.973206  0.008195  0.979426  0.006223      0.9705  0.006135
cancer      0.860714  0.115825  0.951429  0.012509    0.961475   0.01349
car         0.953468  0.010853  0.952601  0.013432    0.962775  0.007019
letter      0.941975  0.081328  0.983725  0.002293    0.971975  0.007145
wine        0.938889  0.038845  0.972222   0.02268       0.931  0.039788
yeast       0.938384  0.030779  0.937374  0.029914      0.9697  0.009633
whole_mean  0.934439  0.047637  0.962796  0.014509    0.961237  0.013868

recall

                 MTS              MTSBag           SMOTEMTSBag
                mean       std      mean       std        mean       std
abalone     0.867184  0.098249    0.8219  0.096306    0.842282  0.024962
cancer      0.924888  0.060765   0.96431  0.031398    0.842282  0.032765
car         0.951944   0.08144  0.982576  0.036777     0.84094   0.02759
letter      0.596301  0.098905  0.653288  0.054748    0.830872  0.022327
wine          0.8675  0.178721  0.969481  0.052133    0.842282    0.0403
yeast       0.277475  0.110474  0.310004   0.19154    0.833557  0.034773
whole_mean  0.747549  0.104759  0.783593   0.07715    0.838702  0.030453

Specificity

                 MTS              MTSBag           SMOTEMTSBag
                mean       std      mean       std        mean       std
abalone     0.975118  0.009423  0.982211  0.005742    0.975461  0.006272
cancer      0.828877   0.17181  0.945188  0.017236    0.966087  0.014832
car         0.953456  0.012848  0.951458   0.01445    0.967489  0.008025
letter      0.956568  0.087506  0.996908  0.001563    0.977434  0.007286
wine        0.962478  0.039669  0.972314  0.026473    0.934433  0.042559
yeast       0.962177   0.02933  0.960759  0.033224    0.974968  0.010639
whole_mean  0.939779  0.058431   0.96814  0.016448    0.965979  0.014935

precision

                 MTS              MTSBag           SMOTEMTSBag
                mean       std      mean       std        mean       std
abalone     0.401962  0.071574  0.462174  0.102703     0.57625  0.060173
cancer      0.768816  0.176555  0.903383  0.030446    0.512383  0.111054
car         0.448649  0.125156   0.47227  0.085853    0.506837  0.055863
letter      0.586788  0.228717  0.893794  0.055544    0.597528  0.086874
wine        0.903323  0.096782  0.936905  0.061744    0.400034  0.185729
yeast        0.25605  0.112515  0.265991  0.117055    0.580164  0.099303
whole_mean  0.560931  0.135216  0.655753  0.075557    0.528866  0.099833

gmeans

                 MTS              MTSBag           SMOTEMTSBag
                mean       std      mean       std        mean       std
abalone     0.918017  0.049944  0.896998  0.054723    0.906336  0.013851
cancer      0.870417  0.099259  0.954513  0.015499    0.901805  0.013802
car         0.951705  0.038627  0.966674  0.017811    0.901842  0.012366
letter      0.750574  0.046407  0.806406  0.033083    0.901104   0.01288
wine        0.907319  0.095973  0.970481  0.029425    0.886379  0.013243
yeast        0.50541   0.10347  0.522039  0.153573    0.901253  0.017034
whole_mean   0.81724   0.07228  0.852852  0.050686    0.899786  0.013863

RS

                 MTS              MTSBag           SMOTEMTSBag
                mean       std      mean       std        mean       std
abalone     0.890028  0.107363  0.836788  0.098276    0.863499  0.025986
cancer      1.169818  0.296705  1.020692  0.042026    0.872354  0.044417
car         0.999184  0.093469  1.033073  0.045607    0.869407  0.034156
letter      0.636925  0.182847  0.655307  0.054857    0.850082  0.023147
wine        0.906444   0.20552  0.997797  0.061199    0.904529  0.081157
yeast        0.29075   0.12227  0.327669  0.213573    0.855233  0.041226
whole_mean  0.815525  0.168029  0.811888  0.085923    0.869184  0.041681